Repository TDycores-Project/TDycore, pull requests merged in 2021-08, with the labels that each got.

#192 Added a function registry for referring to functions by name.
  demo/transient/transient_snes_mpfaof90.F90
  include/tdycore.h
  src/f90-mod/tdycoremod.F90
  src/interface/ftn/tdycoref.c
  src/tdyconditions.c
  src/tdycore.c
  src/tdytimers.c
Labels: enhancement, demo

#195 Consolidating and simplifying command-line options
  demo/mpfao/mpfao.c
  demo/mpfao/mpfao.cfg
  demo/richards/richards.cfg
  demo/richards/richards_driver.c
  demo/th/th.cfg
  include/private/tdyconditionsimpl.h
  include/private/tdycoreimpl.h
  include/private/tdydmimpl.h
  include/private/tdymaterialpropertiesimpl.h
  include/private/tdyoptions.h
  src/interface/ftn/tdydmf.c
  src/mpfao/3D/tdympfao3D_core.c
  src/mpfao/3D/tdympfao3D_ts.c
  src/mpfao/3D/tdympfao3D_utils.c
  src/mpfao/tdympfao.c
  src/tdybdm.c
  src/tdyconditions.c
  src/tdycore.c
  src/tdydm.c
  src/tdydriver.c
  src/tdymaterialproperties.c
  src/tdyregression.c
  src/tdyrichards.c
  src/tdyth.c
  src/tdyti.c
  src/tdytimers.c
  src/tdytpf.c
Labels: cleanup

#199 We now construct a DMLabel for boundary faces.
  include/tdycore.h
  src/mesh/tdycoremesh.c
  src/tdycore.c
  src/tdyth.c
  src/tdytpf.c
Labels: enhancement, cleanup

#204 Removes 2D MPFA-O code and tests
  .github/workflows/auto_pr_test.yml
  demo/makefile
  demo/mpfao/mpfao.cfg
  demo/steady/steady.cfg
  demo/steadyf90/.gitignore
  demo/steadyf90/makefile
  demo/steadyf90/mpfaof90-np3.regression.gold
  demo/steadyf90/mpfaof90.regression.gold
  demo/steadyf90/steadyf90.F90
  demo/steadyf90/steadyf90.cfg
  demo/steadyf90/wyf90.regression.gold
  gmakefile
  include/private/tdympfao2Dimpl.h
  include/private/tdympfao3Dcoreimpl.h
  include/private/tdympfao3Dthtsimpl.h
  include/private/tdympfao3Dtsimpl.h
  include/private/tdympfao3Dutilsimpl.h
  include/private/tdympfaoimpl.h
  include/private/tdympfaothtsimpl.h
  include/private/tdympfaotsimpl.h
  include/private/tdympfaoutilsimpl.h
  regression_tests/makefile
  src/mpfao/2D/tdympfao2D.c
  src/mpfao/3D/tdympfao3D_core.c
  src/mpfao/tdympfao.c
  src/mpfao/tdympfao_snes.c
  src/mpfao/tdympfao_steady.c
  src/mpfao/tdympfao_th_ts.c
  src/mpfao/tdympfao_ts.c
  src/mpfao/tdympfao_ts_dae.c
  src/mpfao/tdympfao_ts_transientvar.c
  src/mpfao/tdympfao_utils.c
  src/tdycore.c
Labels: cleanup, testing, MPFAO, demo

#206 Moving TDyMesh source to mpfao/ directory, since FE doesn't use it.
  gmakefile
  src/mpfao/tdycoremesh.c
  src/mpfao/tdycoremeshutils.c
  src/mpfao/tdymesh.c
  src/mpfao/tdyregion.c
Labels: cleanup, MPFAO

#202 Save cell geometric attributes
  demo/transient/transient-snes-mpfaof90-out-geo-np3.regression.gold
  demo/transient/transient-snes-mpfaof90-read-geo-np3.regression.gold
  demo/transient/transient_snes_mpfaof90.cfg
  include/private/tdymeshutilsimpl.h
  include/private/tdyoptions.h
  include/private/tdyutils.h
  src/mpfao/tdycoremesh.c
  src/mpfao/tdycoremeshutils.c
  src/tdycore.c
  src/tdyutils.c
Labels: enhancement, MPFAO
