Repository TDycores-Project/TDycore, pull requests merged in 2021-04, with the labels that each got.

#156 Updates the code to use refactored mesh functions
  .gitignore
  demo/.gitignore
  include/tdycore.h
  src/mesh/tdycoremesh.c
  src/mesh/tdycoremeshutils.c
  src/mesh/tdymesh.c
  src/mpfao/2D/tdympfao2D.c
  src/mpfao/3D/tdympfao3D_core.c
  src/mpfao/3D/tdympfao3D_steady.c
  src/mpfao/3D/tdympfao3D_th_ts.c
  src/mpfao/3D/tdympfao3D_ts.c
  src/mpfao/3D/tdympfao3D_utils.c
  src/tdyio.c
Labels: cleanup

#158 Fixes TPF for parallel runs
  include/private/tdympfao3Dcoreimpl.h
  src/mesh/tdycoremesh.c
  src/mpfao/3D/tdympfao3D_core.c
  src/mpfao/tdympfao.c
Labels: MPFAO

#159 Updates transient MPFA-O SNES demo
  .github/workflows/auto_pr_test.yml
  demo/.gitignore
  demo/transient/makefile
  demo/transient/transient-snes-mpfaof90-dirichlet.regression.gold
  demo/transient/transient-snes-mpfaof90-region.regression.gold
  demo/transient/transient_snes_mpfaof90.F90
  demo/transient/transient_snes_mpfaof90.cfg
  include/finclude/tdycore.h
  src/mpfao/3D/tdympfao3D_core.c
  src/tdyutils.c
Labels: MPFAO, demo

#163 PETSc hashes are now correctly handled in creation of Docker images.
  .github/workflows/auto_pr_test.yml
  tools/Dockerfile.petsc
Labels: petsc, testing
